<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
</head>
<body>

<div layout:fragment="content" class="container mt-5">

    <div class="text-center mb-5">
        <h1 th:text="${user.name} + '님, 환영합니다.'"></h1>
        <h3 th:text="'누적 구매 금액: ' + ${#numbers.formatDecimal(totalOrderAmount, 0, 'COMMA', 0, 'POINT')} + '원'">
            누적 구매 금액: 0원
        </h3>
    </div>


    <div class="row text-center">
        <div class="col-md-3 mb-3">
            <a th:href="@{/member/edit}" class="btn btn-primary btn-block">
                <i class="bi bi-pencil-square"></i>
                회원정보 수정
            </a>
        </div>
        <div class="col-md-3 mb-3">
            <a th:href="@{/cart}" class="btn btn-warning btn-block">
                <i class="bi bi-cart4"></i>
                장바구니
            </a>
        </div>
        <div class="col-md-3 mb-3">
            <a th:href="@{/orders}" class="btn btn-success btn-block">
                <i class="bi bi-receipt"></i>
                구매내역
            </a>
        </div>
        <div class="col-md-3 mb-3">
            <a th:href="@{/reviews/manage}" class="btn btn-info btn-block">
                <i class="bi bi-pencil-square"></i>
                리뷰 관리
            </a>
        </div>
    </div>

</div>

</body>
</html>